$colors: (
  primary: #1B7FBE,
  primary-light: #38A1DB,
  primary-very-light: #BCE0FD,

  text-placeholder: #757575,

  /* color gradations */
  gradation-blue-begin: #45CAFC,
  gradation-blue-end: #303F9F,
  gradation-purple-begin: #FF88CE,
  gradation-purple-end: #FF88CE,
  gradation-orange-begin: #FC6262,
  gradation-orange-end: #FFD86F,

  mediumgraycustom: #E9ECEF,
  lightgraycustom : #F5F5F5
);

$font-family-sans-serif-6: YuGothic, "游ゴシック", "Hiragino Kaku Gothic ProN", Meiryo, sans-serif !default;
